#sentiment-root {
  margin-top: 0rem !important;
}
#heatmap-container{
  margin-top: 0rem !important;
  padding-bottom: 1rem;
  #keyword-input{
    width: 100%;
    margin-bottom: 1rem;
    select {
      width: 100%;
    }
    span {
      width: 100% !important;
      span {
        width: unset !important;
      }
    }
  }
}

#network-container {
  margin-top: 0rem !important;
  padding-bottom: 1rem;
}

#post-container{
  margin-top: 1rem !important;
  padding-bottom: 1rem;
  #table {
    table {
      font-family: Arial;
      width: 100%;
      color: black;
      th {
        background-color: grey;
        color: white;
        alignment: center;
        font-size: 14px;
        border: 1px solid black;
        padding: 8px;
      }
      td {
        border: 1px solid black;
        padding: 8px;
      }
      tr:nth-child(odd){
        background-color: lightgrey;
      }
    }
  }
}

#overview-table {
  font-family: Arial;
  width: 100%;
  color: black;
  th {
    alignment: center;
    font-size: 14px;
    border: 1px solid black;
    padding: 8px;
  }
  td {
    alignment: center;
    border: 1px solid black;
    padding: 8px;
  }
  tr:nth-child(even){
    background-color: lightgrey;
    font-size: 12px;
  }
  tr:nth-child(odd){
    font-size: 10px;
  }
}

.hidden {
  display: none !important;
}